body {
    background-color: #e9ecef; /* Light gray background color for the entire body */
    margin: 0; /* Remove default margin for a cleaner look */
}

.hotel-form {
    max-width: 400px;
    margin: auto;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

.img-fluid {
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.is-invalid {
    border-color: red !important;
}
